# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
target
out
gen
/book/src/main/resources/cn/chineseall/book/oauth/consumer.properties
/book/src/main/resources/api.properties
/book/src/main/resources/eduyun.properties
